ErrorDocument 500 /errors/na.html
ErrorDocument 403 /errors/403.html

RewriteEngine on
RewriteRule ^$ /walker.php?m=home [L]
RewriteRule ^index.html$ /walker.php?m=home [L]
RewriteRule ^signup.html$ /walker.php?m=signup [L]
RewriteRule ^login.html$ /login.php [L]
RewriteRule ^login$ /login.php [L]
RewriteRule ^login/$ /login.php [L]
RewriteRule ^logout.html$ /logout.php [L]
RewriteRule ^about.html$ /walker.php?m=about [L]
RewriteRule ^help.html$ /walker.php?m=help [L]
RewriteRule ^manage.html$ /walker.php?m=manage [L]
RewriteRule ^ing.html$ /walker.php?m=ing [L]
RewriteRule ^labs.html$ /walker.php?m=labs [L]
RewriteRule ^rules.html$ /walker.php?m=rules [L]

RewriteRule ^view/([0-9]*).html$ /walker.php?m=view&id=$1 [L]

RewriteRule ^edit/([0-9]*).html$ /walker.php?m=edit&id=$1 [L]

RewriteRule ^remove/([0-9]*).html$ /post.php?m=rm&id=$1 [L]

RewriteRule ^tags/([^/?&]+).html$ /walker.php?m=tags&tag=$1 [L]

RewriteRule ^post.html$ /walker.php?m=post [L]

RewriteRule ^feed/walker.rss$ /feed.php?m=home [L]
RewriteRule ^feed/([0-9]*).rss$ /feed.php?m=view&id=$1 [L]

RewriteRule ^man/freebsd/$ /man/freebsd/ch01.htm [L]
RewriteRule ^man/bash/$ /man/bash/bash.txt [L]

php_flag magic_quotes_gpc off
php_flag register_globals off
