/* Project Walker
 *
 * @author always.8 <always.8@gmail.com>
 * @version $Id: extend.css 0 2007-06-24 09:10:15Z always.8 $
 * @copyright http://www.n7money.cn/
 *
 * Thanks to Livid
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software Foundation,
 * Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
 */
table.ifm_table{
    empty-cells:show;
    table-layout:auto;
    border-spacing:0px;
    border-collapse:collapse;
	color:#333399;
}

table.ifm_table td{
	border:1px #9FD6FF solid;
	border:1px #666 solid;
	text-align:center;
	background-color:#C8E1FB;
	background-color:#999;
	height:22px;
}

tr.ifm_table_odd td{
	background-color:#ffffff;
	background-color:#fff;
}

tr.ifm_table_even td{
	background-color:#F2F9FF;
	background-color:#ccc;
}
