/* Project Walker
 *
 * @author always.8 <always.8@gmail.com>
 * @version $Id: style.css 0 2007-06-24 09:10:15Z always.8 $
 * @copyright http://www.n7money.cn/
 *
 * Thanks to Livid
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software Foundation,
 * Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
 */
body,html{
	border: 0px;
	margin: 0px;
	padding: 0px;
	background-color: #F8F8FF;
	color: #000;
	font-family: Verdana, "Lucida Grande", "Lucida Sans", sans, Hei;
	max-width:1024px;
}

a.img, a.img:link, a.img:visited, a.img:active {
	border: 0;
	text-decoration: none;
}

a.img:hover {
	background-color: #FFF;
}

a:link, a:active, a:visited {
	text-decoration: none;
	color: #333;
}

a:hover {
	text-decoration: none;
	color: #577DE7;
}

a.var:link, a.var:active, a.var:visited{
	border: none;
	text-decoration: none;
	color: inherit;
}

a.var:hover{
	border: none;
	text-decoration: none;
	color: inherit;
	text-decoration: underline;
}



.bold{
	font-weight:bold;
}

div.blank{
	padding: 5px;
	border: 1px solid #E0E0E0;
	background-color: #FFF;
	margin-bottom: 10px;
	font-size: 12px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

div#header{
	height:75px;
	margin:0 auto;
	border:1px #cccccc solid;
	background-image:url("/images/bg.jpg");
}

div#wrap{
	text-align: left;
	width:100%;
	margin-top:10px;
	margin-bottom:20px;
}

div#walker{
	width:740px;
	margin-left:30px;
	float:left;
}

div#topnav{
	height:80px;
	width:740px;
	float:left;
	margin-left:30px;
}

div#hotbar{
	height:85px;
	width:740px;
	float:left;
	margin-left:30px;
	margin-top:0px;
}

div#hotbar img{
	display:block;
	width:16px;
	height:16px;
	border:2px #cccccc solid;
	float:left;
	margin-left:4px;
}

span#hotTitle{
	height:24px;
	width:420px;
	display:block;
	line-height:180%;
	font-size:16px;
}

span#hotTitle a{
	color:#0063dc;
}

span#feture{
	display:block;
	font-weight:bold;
	color:#cccccc;
	padding:2px;
	border-bottom:1px #E0E0E0 solid;
	margin-bottom:8px;
}

span#tag{
	color:#000000;
	margin-left:4px;
}

.underline{
	display:block;
	padding:2px;
	border-bottom:1px #E0E0E0 solid;
	margin-bottom:8px;
	line-height:160%;
}

div#views{
	width:740px;
	float:left;
	margin-left:30px;
}

div#blog{
	width:655px;
	float:left;
	margin-left:30px;
	padding-left:20px;
	padding-top:15px;
	padding-left:40px;
	padding-right:55px;
}

div#reply{
	margin-left:30px;
	width:725px;
	float:left;
	padding-left:20px;
	padding-top:10px;
}

div#publish{
	margin-left:30px;
	width:740px;
	float:left;
	padding-right:24px;
}

div#edit{
	margin-left:30px;
	width:740px;
	float:left;
	padding-right:24px;
}

div#ifm{
	margin-left:30px;
	width:740px;
	float:left;
}

div#main{
	min-height:225px;
	width:740px;
	float:left;
	margin-left:30px;
}

div.link{
	padding-left:20px;
}

div#mainbar{
	width:725px;
	/*margin-left:30px;*/
	float:left;
	min-height:30px;
}

div#mainbar img{
	position:relative;
	top:1px;
	bottom:0px;
}

div#content{
	margin-left:45px;
	margin-right:65px;
	line-height:175%;
	text-indent:2em;
    direction:ltr;
    text-justify:auto;
}

img.i_img{
	padding: 2px;
	border: 1px solid #E0E0E0;
	background-color: #FFF;
	margin-bottom: 10px;
	font-size: 12px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

span.ban{
	display:block;
	margin-left:5px;
	float:left;
	height:20px;
	line-height:160%;
	/*border:1px #e0e0e0 solid;*/
}

span.sidebarTitle{
	font-size:16px;
	font-weight:bold;
	margin-left:8px;
	color:#577DE7;
}

span#feed img{
	border:0;
}

div#sidebar{
	width:180px;
	margin-left:790px!important;
	margin-right:25px!important;
} 

.bom{
	display:block;
	height:2px;
	padding:1px;
	border-bottom:2px #cccccc solid;
}

ul.nav{
	padding-left:25px;
	margin-top:2px;
	list-style:circle;
}

ul.nav li{
	margin-left:5px;
	height:20px;
	line-height:160%;
}

ul.menu{
	margin-top:2px;
	list-style:none;
	padding-left:5px;
}

div#sidebar img{
	position:relative;
	top:3px;
	bottom:0px;
}

div#about{
}

div#about img{
	margin-left:10px;
}

div#tags{
	min-height:150px;
	margin-top:10px;
}

div#tools{
	min-height:75px;
	margin-top:10px;
}

div#date{
	min-height:125px;
	margin-top:10px;
}

div#meta{
	min-height:225px;
	margin-top:10px;
}

div#footer{
	height:75px;
	text-align:center;
	padding: 5px;
	border: 1px solid #E0E0E0;
	background-color: #FFF;
	margin-bottom: 0px;
	font-size: 12px;
}

span.gray{
	color:#cccccc;
	font-size:12px;
}

a.p, a.p:active, a.p:visited {
	margin-right: 2px;
	font-size: 11px;
	color: #FFF;
	padding: 2px 4px 2px 4px;
	background-color: #3366FF;
	border-left: 1px solid #3CF;  
	border-top: 1px solid #3CF;
	border-right: 1px solid #30C;
	border-bottom: 1px solid #30C;
	text-decoration: none;
}

a.p:hover {
	margin-right: 2px;
	font-size: 11px;
	color: #FFF;
	padding: 2px 4px 2px 4px;
	background-color: #30C;
	border-left: 1px solid #3CF;  
	border-top: 1px solid #3CF;
	border-right: 1px solid #30C;
	border-bottom: 1px solid #30C;
	text-decoration: none;
}

a.p_edge, a.p_edge:active, a.p_edge:visited {
	margin-right: 2px;
	font-size: 11px;
	color: #FFF;
	padding: 2px 4px 2px 4px;
	background-color: #F60;
	border-left: 1px solid #FC0;  
	border-top: 1px solid #FC0;
	border-right: 1px solid #F30;
	border-bottom: 1px solid #F30;
	text-decoration: none;
}

a.p_edge:hover {
	margin-right: 2px;
	font-size: 11px;
	color: #FFF;
	padding: 2px 4px 2px 4px;
	background-color: #F30;
	border-left: 1px solid #FC0;  
	border-top: 1px solid #FC0;
	border-right: 1px solid #F30;
	border-bottom: 1px solid #F30;
	text-decoration: none;
}

strong.p_cur {
	margin-right: 2px;
	font-size: 11px;
	color: #333;
	font-weight: normal;
	margin-top: -10px;
	padding: 3px 4px 2px 4px;
	display: inline;
	background-color: #FFC;
	border: 1px solid #FFF;
}

strong.c_cur {
	font-size: 12px;
}

strong.p_info {
	margin-left: 2px;
	font-size: 9px;
	color: #FFF;
	font-weight: normal;
	padding: 2px 4px 2px 4px;
	background-color: #999;
	border-left: 1px solid #AAA;  
	border-top: 1px solid #AAA;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
}

span.views{
	color:#99ccff;
	margin-left:535px;
	background-image:url("/images/posttitle.png");
	background-repeat:no-repeat;
}

span.comments{
	color:#f66d43;
}

span.bom_comment{
	color:#cccccc;
	background-color:#eeeeee;
	display:block;
	width:145px;
	text-align:center;
}



/* write */

div#publish{
	min-height:80px;
	width:715px;
	float:left;
	padding-left:10px;
}

.tip {
	font-size: 12px;
	color: #666;
}

a.tr:link, a.tr:active, a.tr:visited {
	text-decoration: none;
	color: #EFEFEF;
	border: none;
	display: inline;
	padding: 3px;
}

a.tr:hover {
	text-decoration: none;
	color: #FFF;
	border: none;
	display: inline;
	padding: 3px;
	background-color: #000;
	-moz-border-radius: 5px;
}

a.o:link, a.o:visited {
	color: #F90;
	text-decoration: none;
	border: none;
}

a.o:hover {
	color: #FFF;
	background-color: #F60;
	text-decoration: none;
	border: none;
}

a.o:active {
	color: #FFF;
	background-color: #F90;
	text-decoration: none;
	border: none;
}

a.tpc, a.tpc:link, a.tpc:visited {
	color: #0063DC;
	text-decoration: none;
	border-bottom: none;
	font-size: 12px;
}

a.tpc:hover {
	color: #FFF;
	background-color: #0063DC;
	text-decoration: none;
	font-size: 12px;
}

a.tpc:active {
	color: #FFF;
	background-color: #333;
	text-decoration: none;
	font-size: 12px;
}

a.tg:link, a.tg:visited {
	color: #333;
	text-decoration: none;
	font-size: 12px;
}

a.tg:hover {
	color: #000;
	background-color: #EEE;
	text-decoration: none;
	font-size: 12px;
}

a.tg:active {
	color: #FFF;
	background-color: #577DE4;
	text-decoration: none;
	font-size: 12px;
}

a.h, a.h:active, a.h:visited {
	margin-left: 2px;
	font-size: 12px;
	color: #333;
	padding: 2px 4px 2px 4px;
	background-color: #EFEFEF;
	border-left: 1px solid #F9F9F9;  
	border-top: 1px solid #F9F9F9;
	border-right: 1px solid #CFCFCF;
	border-bottom: 1px solid #CFCFCF;
	text-decoration: none;
	line-height: 20px;
}

a.h:hover {
	margin-left: 2px;
	font-size: 12px;
	color: #666;
	padding: 2px 4px 2px 4px;
	background-color: #EFEFEF;
	border-left: 1px solid #F9F9F9;  
	border-top: 1px solid #F9F9F9;
	border-right: 1px solid #BBBBBB;
	border-bottom: 1px solid #BBBBBB;
	text-decoration: none;
	line-height: 20px;
}

/* td: left top */
td.lt {
	background-image: url("/images/td_01.gif");
}

/* td: center top */
td.ct {
	background-image: url("/images/td_02.gif");
}

/* td: right top */
td.rt {
	background-image: url("/images/td_03.gif");
}

/* td: left middle */
td.lm {
	background-image: url("/images/td_04.gif");
}

/* td: origin */
td.origin {
	font-size: 12px;
	color: #000;
	text-align: left;
	background-image: url("/images/td_05.gif");
	word-break: break-all;
	word-wrap: break-word;
	line-height: 18px;
}

/* td: right middle */
td.rm {
	background-image: url("/images/td_06.gif");
}

/* td: left bottom */
td.lb {
	background-image: url("/images/td_07.gif");
}

/* td: center bottom */
td.cb {
	background-image: url("images/td_08.gif");
}

/* td: right bottom */
td.rb {
	background-image: url("/images/td_09.gif");
}

h1.ititle {
	display: inline;
	color:#669966;
	font-size: 16px;
	font-weight: bold;
	text-shadow: 2px 2px 2px #999;
	margin: 0px;
	padding: 2px 0px 2px 0px;
}

.tip_i {
	font-size: 12px;
	color: #CCC;
	text-shadow: none;
}

small.grey {
	font-size: 10px;
	color: #999;
}

small.na {
	color: #CC0000;
	font-size: 10px;
}

small.fade {
	font-size: 10px;
	color: #FF9900;
}

div.brief {
	margin-top: 10px;
	padding: 5px 5px 5px 40px;
	font-size: 12px;
	display: none;
	color: #666666;
}

td.text, span.text {
	color: #000;
	font-size: 12px;
	line-height: 18px;
}

button.mini {
	background-color: #FFFFFF;
	border: none;
	padding: 1px;
	margin: 0px;
	cursor: hand;
}

table.form {
	overflow: hidden;
	border-collapse: collapse;
}

table.form td {
	margin: 0px;
	padding: 10px 1em 0 0;
	font-size: 14px;
}

img.home {
	margin-bottom: 10px;
	margin-right: 10px;
}

img.portrait {
	background-color: #FFF;
	border: 3px solid #EEE;
	border: 3px solid #AAA;
}

img.reposit{
	position:relative;
	top:3px;
	bottom:0px;
}


input.sll {
	font-family: "Courier New", Courier, Hei, mono;
	font-size: 13px;
	width: 300px;
	background-color: #F7F7F7;
	color: #333;
	border-style: solid;
	border-width: 1px;
	padding: 2px;
	border-top-color: #C0C0C0;
	border-left-color: #C0C0C0;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
}

input.sll:focus {
	font-family: "Courier New", Courier, Hei, mono;
	font-size: 13px;
	width: 300px;
	background-color: #FFF;
	color: #000;
	border-style: solid;
	border-width: 1px;
	padding: 2px;
	border-top-color: #3C0;
	border-left-color: #3C0;
	border-right-color: #3C0;
	border-bottom-color: #3C0;
}

textarea.ml {
	font-family: "Courier New", Courier, Hei, mono;
	font-size: 13px;
	width: 520px;
	overflow: auto;
	background-color: #F7F7F7;
	color: #333;
	border-style: solid;
	border-width: 1px;
	padding: 2px;
	border-top-color: #C0C0C0;
	border-left-color: #C0C0C0;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
}

textarea.ml:focus {
	font-family: "Courier New", Courier, Hei, mono;
	font-size: 13px;
	width: 520px;
	overflow: auto;
	background-color: #FFF;
	color: #333;
	border-style: solid;
	border-width: 1px;
	padding: 2px;
	border-top-color: #3C0;
	border-left-color: #3C0;
	border-right-color: #3C0;
	border-bottom-color: #3C0;
}

a.btn{
	display:block;
	width:100px;
	height:26px;
	background-image:url(/images/bg.gif);
	color:#ffffff;
	text-align:center;
	line-height:195%;
	
}

div.btn_o {
	width: 100px;
	height: 26px;
	background-image: url("/images/bg.gif");
	background-color: #333;
	-moz-border-radius: 5px;
	padding: 0px;
	margin: 0px;
}

div.btn_i {
	text-align: center;
	letter-spacing: 1px;
	padding-top: 4px;
	color: #FFF;
	font-size: 12px;
}

div.btn_i a:link, div.btn_i a:visited, div.btn_i a:active {
	text-decoration: none;
	color: #F5F5F5;
}

div.btn_i a:hover {
	text-decoration: none;
	color: #FFF;
}

.text_large {
	font-size: 18px;
}



div.light_odd {
	white-space: normal;
	word-break: break-all;
	word-wrap: break-word;
	padding: 5px;
	font-size: 12px;
	border-bottom: 1px dotted #E0E0E0;
}

div.light_even {
	white-space: normal;
	word-break: break-all;
	word-wrap: break-word;
	padding: 5px;
	background-color: #F9F9F9;
	font-size: 12px;
	border-bottom: 1px dotted #E0E0E0;
}

textarea.quick {
	font-family: "Courier New", Courier, Hei, mono;
	font-size: 13px;
	width: 490px;
	overflow: auto;
	background-color: #F7F7F7;
	color: #333;
	border-style: solid;
	border-width: 1px;
	padding: 2px;
	border-top-color: #C0C0C0;
	border-left-color: #C0C0C0;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
}

textarea.quick:focus {
	font-family: "Courier New", Courier, Hei, mono;
	font-size: 13px;
	width: 490px;
	overflow: auto;
	background-color: #FFF;
	color: #000;
	border-style: solid;
	border-width: 1px;
	padding: 2px;
	border-top-color: #3C0;
	border-left-color: #3C0;
	border-right-color: #3C0;
	border-bottom-color: #3C0;
}

select.sll{
	font-family: "Courier New", Courier, Hei, mono;
	font-size: 13px;
	background-color: #F7F7F7;
	color: #333;
	border-style: solid;
	border-width: 1px;
	padding: 2px;
	border-top-color: #C0C0C0;
	border-left-color: #C0C0C0;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
}



/* test */
table.board {
	float: right;
	margin-bottom: 10px;
	border: 1px solid #E0E0E0;
	background-color: #FFF;
	/*-moz-border-radius: 7px;
	-webkit-border-radius: 7px;*/
	table-layout:fixed;
}

table.board td.odd {
}

table.board td.even {
	background-color: #F9F9F9;

	table.board td {
		padding-left: 5px;
		font-size: 12px;
}

table.board td.star {
	font-size: 12px;
}

table.board td.hf {
	color: #333;
	font-size: 12px;
	padding: 5px;
}

table.board td.shead {
	color: #333;
	font-size: 12px;
	padding: 5px;
	background-color: #F7F7F7;
}

table.board td.container {
	padding: 0px;
	color: #000;
	font-size: 12px;
}

table.board td.blue {
	/*
	background-color: #3333CC;
	background-image: url("images/bar_dark_blue.gif");
	 */
	background-color: #FFF;
	background-image: url("/images/blue_s.gif");
	background-repeat: repeat-x;
	color: #FFFFFF;
	font-size: 13px;
	height: 24px;
	text-shadow: 2px 2px 1px #669;
	font-weight: 450;
}

table.board td.orange {
	/*
	background-color: #FF3300;
	background-image: url("images/bar_dark_orange.gif");
	 */
	background-color: #FFF;
	background-image: url("/images/red_s.gif");
	background-repeat: repeat-x;
	color: #FFFFFF;
	font-size: 13px;
	height: 24px;
	text-shadow: 2px 2px 1px #966;
	font-weight: 450;
}

table.board td.apple {
	/*
	background-color: #00FF00;
	background-image: url("images/bar_dark_green.gif");
	 */
	background-color: #FFF;
	background-image: url("/images/green_s.gif");
	background-repeat: repeat-x;
	color: #FFFFFF;
	font-size: 13px;
	height: 24px;
	text-shadow: 2px 2px 1px #696;
	font-weight: 450;
}


/* Test */
.board td{
	background-color:#ffffcc;
}

tr.hr td{
	border:1px #ccc solid;
}

td.star{
	background-color:#ffffcc;
}
