/* Standards */
body,html{
	border: 0px;
	margin: 0px;
	padding: 0px;
	background-color: #F8F8FF;
	color: #000;
	font-family: Verdana, "Lucida Grande", "Lucida Sans", sans, Hei;
	max-width:1024px;
}

ul{
	padding:0px;
	margin:0px;
}

img{
	border:0px;
}

a.img, a.img:link, a.img:visited, a.img:active {
	border: 0;
	text-decoration: none;
}

a.img:hover {
	background-color: #FFF;
}

a:link, a:active, a:visited {
	text-decoration: none;
	color: #333;
}

a:hover {
	text-decoration: none;
	color: #577DE7;
}

a.var:link, a.var:active, a.var:visited{
	border: none;
	text-decoration: none;
	color: inherit;
}

a.var:hover{
	border: none;
	text-decoration: none;
	color: inherit;
	text-decoration: underline;
}

a.white:link, a.white:active, a.white:visited {
	text-decoration: none;
	color: #fff;
}

a.white:hover {
	text-decoration: none;
	color: #ff0084;
}

/* Layout */
div.blank{
	padding: 5px;
	border: 1px solid #E0E0E0;
	background-color: #FFF;
	margin-bottom: 10px;
	font-size: 12px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

div#header{
	height:90px;
	margin-bottom:10px;
	background:#030303 url("images/bg.gif");
}

div#main{
	float:left;
	width:740px;
	margin-left:35px;
	+margin-left:20px;
}

div#topnav, div#flickr, div#ing{
	width:735px;
}

div#topnav{
	height:95px;
}

div#content{
	width:655px;
	+width:735px;
	padding:7px 45px 12px 45px;
	+padding-top:24px;
	line-height:160%;
}

div#content h3{
	width:225px;
	display:block;
	float:left;
}

div#manage{
	display:none;
}

div#post{
	width:735px;
	display:none;
}

div#view{
	display:nones;
}

div#sidebar{
	float:left;
	width:180px;
	height:750px;
	margin-left:15px;
}

div#footer{
	height:75px;
	border-left:0px;
	border-right:0px;
	text-align:center;
	line-height:160%;
}

div.bug{
	clear:both;
	height:0px;
	overflow:hidden;
}

/* Elements */
ul.tags, ul.music{
	list-style:circle;
	margin-left:25px;
	line-height:160%;
}

ul.tools{
	list-style:none;
	line-height:160%;
	margin-left:5px;
	margin-top:5px;
}

ul.links{
	list-style:;
	margin-left:25px;
}

ul.ing{
	list-style:none;
	margin-left:10px;
	line-height:180%;
	padding-bottom:3px;
}

ul.ing img{
	border:2px solid #eee;
	position:relative;
	left:0px;
	top:5px;
}

div#sidebar img{
	position:relative;
	left:0px;
	top:3px;
}

span.gray{
	color:#ccc;
}

span.post_time{
	color:#ccc;
}

img#logo{
	float:left;
	margin-left:20px;
}

div#head_bar{
	width:135px;
	height:20px;
	font-size:12px;
}

[xmlns] div#head_bar{
	margin-left:800px;
	padding-top:45px;

}

* html div#head_bar{
	position:relative;
	top:45px;
	left:575px;
}

/* Flickr */

div#flickr li{ 
	float:left; 
	width:14%;
	text-align:center; 
	margin:0 auto; 
	list-style:none 
}

div#flickr li a{
	border-right:1px solid #fff;
	border-bottom:1px solid #fff; 
	width:100px; 
	height:100px; 
	background:#fff;display:block; 
	padding-top:10px; 
	margin:auto
}

div#flickr li img{
	width:75px; 
	height:75px; 
	display:block; 
	text-align:center; 
	margin:auto; 
	background:#FFF; 
	padding:3px; 
	/*border:1px solid #D8A18B;*/
	border:1px solid #CC99CC;
}

div#flickr li span{
	display:none;
}

div#flickr li a:hover span{
	margin-top:-20px;
	display:block; 
	border-bottom:1px solid #666; 
	border-right:1px solid #666; 
	/*background:#FA9000;*/
	background:#CC99CC; 
	width:100px; 
	color:#FFF; 
	position:absolute; 
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
} 

* html div#flickr li a:hover span {
	margin-left:-11px; 
} /* IE6 */ 

*+html div#flickr li a:hover span {
	margin-left:-11px; 
}/* IE7*/ 

div#flickr li a:hover{ 
	border-right:1px solid #CC99CC;
	border-bottom:1px solid #CC99CC; 
	width:100px; 
	height:100px; 
	background:#F5F5F5;
	display:block; 
	padding-top:10px;
} 

/* Post */
input.sll {
	font-family: "Courier New", Courier, Hei, mono;
	font-size: 13px;
	width: 300px;
	background-color: #F7F7F7;
	color: #333;
	border-style: solid;
	border-width: 1px;
	padding: 2px;
	border-top-color: #C0C0C0;
	border-left-color: #C0C0C0;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
}

input.sll:focus {
	font-family: "Courier New", Courier, Hei, mono;
	font-size: 13px;
	width: 300px;
	background-color: #FFF;
	color: #000;
	border-style: solid;
	border-width: 1px;
	padding: 2px;
	border-top-color: #3C0;
	border-left-color: #3C0;
	border-right-color: #3C0;
	border-bottom-color: #3C0;
}

textarea.ml {
	font-family: "Courier New", Courier, Hei, mono;
	font-size: 13px;
	width: 520px;
	overflow: auto;
	background-color: #F7F7F7;
	color: #333;
	border-style: solid;
	border-width: 1px;
	padding: 2px;
	border-top-color: #C0C0C0;
	border-left-color: #C0C0C0;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
}

textarea.ml:focus {
	font-family: "Courier New", Courier, Hei, mono;
	font-size: 13px;
	width: 520px;
	overflow: auto;
	background-color: #FFF;
	color: #333;
	border-style: solid;
	border-width: 1px;
	padding: 2px;
	border-top-color: #3C0;
	border-left-color: #3C0;
	border-right-color: #3C0;
	border-bottom-color: #3C0;
}

select.sll{
	font-family: "Courier New", Courier, Hei, mono;
	font-size: 13px;
	background-color: #F7F7F7;
	color: #333;
	border-style: solid;
	border-width: 1px;
	padding: 2px;
	border-top-color: #C0C0C0;
	border-left-color: #C0C0C0;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
}

a.btn{
	display:block;
	width:100px;
	height:26px;
	background-image:url(images/btn.gif);
	color:#ffffff;
	text-align:center;
	line-height:195%;
}

table.form {
	overflow: hidden;
	border-collapse: collapse;
}

table.form td {
	margin: 0px;
	padding: 10px 1em 0 0;
	font-size: 14px;
}
